/apiGateway/node_modules
/apiGateway/.env

/servicios/gestionSucursales/node_modules
/servicios/gestionSucursales/.env

/servicios/gestionReservas/node_modules
/servicios/gestionReservas/.env

/servicios/gestionRecordatorios/node_modules

/servicios/gestionNotificaciones/node_modules
/servicios/gestionNotificaciones/.env
