.optionsContainer{
    position: relative;
}

.dropdown-menu {
    background-color: white;
    width: 100%;
    position: absolute;
    margin-top: 10px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);
    border-radius: 20px;
    opacity: 0;
    transition: .2s;
    transform: translateY(0);
    pointer-events: none;
}

.dropdown-menu.is-visible{
    opacity: 1;
    transform: translateY(10px);
    pointer-events: all;
}

/*  Sucursales    */
.sucursalesContainer ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

.sucursalesContainer ul div{
    padding: 10px;
    border-bottom:1px solid  #e7e7e7;
}

.sucursalesContainer ul div.selected{
    background-color: #e7e7e7;
}

/*  TURNOS  */

.turnosContainer{
    display: grid;
    gap: 20px;
    margin-top: 10px;
}

.turnosContainer .turno{
    border-radius: 5px;
    background: #e8ebfb;
    box-shadow: 0px 2px 0px 0px #aeb5cf;
   
    padding: 20px;
    margin-right: 10px;
    transition: .2s;
}

.turnosContainer .turno:hover{
    background: #dbdeeb;
    box-shadow: 0px 2px 0px 0px #8a8cad99;
}

.turnosContainer .turno.ocupado{
    opacity: .4;
}

.turnosContainer .turno.selected{
    background: #d2dbff;
    box-shadow: 0px 2px 0px 0px #3554d1;
}

/* Formulario */

form input{
    font-family: 'DM Sans', sans-serif;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #151616;
    padding: 10px 16px;
    width: 100%;
    transition: .3s;
}

form input:focus{
    
    border: 1px solid #2c46b1;
    outline: 0;
}

form .btn{
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: unset;
}

#reservaForm{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding-bottom: 10px;
}

