
/*  Sucursales    */

.sucursalesContainer ul{
    display: flex;
    gap: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

.sucursalesContainer ul li{
    list-style: none;
}

.sucursalesContainer ul li.selected{
    background-color: red;
}

/*  TURNOS  */

.turnosContainer{
    display: flex;
    gap: 20px;
}

.turnosContainer .turno{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.turnosContainer .turno.ocupado{
    opacity: .5;
}

.turnosContainer .turno.selected{
    background: grey;
}